
/*******mdb.min.css*******/


.pricing-card {
    text-align: center;
    position: fixed;
    margin: auto;
}

.card {
    position: center;
    margin: auto;
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.white-text,
dropdown .dropdown-menu .dropdown-item:hover,
dropdown .dropdown-menu .dropdown-item:active,
dropup .dropdown-menu .dropdown-item:hover,
dropup .dropdown-menu .dropdown-item:active,
dropleft .dropdown-menu .dropdown-item:hover,
dropleft .dropdown-menu .dropdown-item:active,
dropright .dropdown-menu .dropdown-item:hover,
dropright .dropdown-menu .dropdown-item:active,
side-nav,
side-nav .search-form .form-control,
md-toast-message a,
md-toast-message label,
md-toast-close-button,
toast-container>div,
picker__list-item--selected,
picker__list-item--selected:hover,
picker--focused .picker__list-item--selected,
picker--time .picker__button--clear:hover,
picker--time .picker__button--clear:focus,
picker--time .picker__button--clear:hover::before,
picker--time .picker__button--clear:focus::before,
picker__date-display,
picker__date-display .clockpicker-display .clockpicker-display-column .clockpicker-span-hours.text-primary,
picker__date-display .clockpicker-display .clockpicker-display-column .clockpicker-span-minutes.text-primary,
picker__date-display .clockpicker-display .clockpicker-display-column #click-am.text-primary,
picker__date-display .clockpicker-display .clockpicker-display-column #click-pm.text-primary,
clockpicker-display .clockpicker-display-column .clockpicker-span-hours.text-primary,
clockpicker-display .clockpicker-display-column .clockpicker-span-minutes.text-primary,
clockpicker-display .clockpicker-display-column #click-am.text-primary,
clockpicker-display .clockpicker-display-column #click-pm.text-primary,
darktheme .picker__box .picker__date-display .clockpicker-display,
darktheme .picker__box .picker__date-display .clockpicker-display .clockpicker-span-am-pm,
darktheme .picker__box .picker__calendar-container .clockpicker-plate .clockpicker-tick,
darktheme .picker__box .picker__footer button,
picker__box .picker__header .picker__date-display,
picker__box .picker__table .picker__day--outfocus,
picker__box .picker__table .picker__day--selected,
picker__box .picker__table .picker__day--selected:hover,
picker__box .picker__table .picker--focused {
    color: #869791 !important;
    

}

.purple-gradient {
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}

.aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.peach-gradient {
    background: linear-gradient(40deg, #ffd86f, #fc6262) !important;
}

.pricing-card .option {
    padding: 2.2rem;
    margin-bottom: 50;
    font-weight: 500;
}

.pricing-card .striped.green-striped li {
    border-color: #33c28a;
}

.pricing-card .striped.purple-striped li {
    border-color: #963c94;
}

.pricing-card .striped.orange-striped li {
    border-color: #e97d63;
}

.pricing-card .card-background {
    background-color: #28283f;
    border-radius: 0 0 .25rem .25rem;
}

.pricing-card .striped {
    padding: 0.5rem;
}

.pricing-card ul {
    padding: 0;
    list-style-type: none;
}

.pricing-card .striped li {
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(238,238,238,0.298039);
}

/******bootstrap.min.css******/


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: 6em;
    margin-top: 3em;
}

.rounded-top {
    border-top-left-radius: .25rem!important;
    border-top-right-radius: .25rem!important;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.2rem;
}

.pb-3,
py-3 {
    padding-bottom: 1rem!important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size:16px;
}

.col,
col-1,
col-10,
col-11,
col-12,
col-2,
col-3,
col-4,
col-5,
col-6,
col-7,
col-8,
col-9,
col-auto,
col-lg,
col-lg-1,
col-lg-10,
col-lg-11,
col-lg-12,
col-lg-2,
col-lg-3,
col-lg-4,
col-lg-5,
col-lg-6,
col-lg-7,
col-lg-8,
col-lg-9,
col-lg-auto,
col-md,
col-md-1,
col-md-10,
col-md-11,
col-md-12,
col-md-2,
col-md-3,
col-md-4,
col-md-5,
col-md-6,
col-md-7,
col-md-8,
col-md-9,
col-md-auto,
col-sm,
col-sm-1,
col-sm-10,
col-sm-11,
col-sm-12,
col-sm-2,
col-sm-3,
col-sm-4,
col-sm-5,
col-sm-6,
col-sm-7,
col-sm-8,
col-sm-9,
col-sm-auto,
col-xl,
col-xl-1,
col-xl-10,
col-xl-11,
col-xl-12,
col-xl-2,
col-xl-3,
col-xl-4,
col-xl-5,
col-xl-6,
col-xl-7,
col-xl-8,
col-xl-9,
col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}